/*--------------- font style ----------------*/
  .SizeText{
    font-size: 13px;
  }
  .SizeText-1{
    font-size: 12px;
  }
  .textHeader {
    font-size: 13px;
    letter-spacing: 3px;
  }
  .textHeader-1 {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 550;
  }
  .subLink{
    font-size: 16px;
  }

/* ------------- Tabs Style ----------- */
  .list-group > a:hover {
    color: #e7e7e7;
    background: #51d5ec;
  }
  .target-l{
    color: #F66B5D;
  }
  .target-r:hover{
    color: #F66B5D;
  }
  .sub-target{
    color: #F66B5D;
  }

  /*----------  TabSub Style ------------ */
  .nav-tabs .nav-item {
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    flex: 1;
  }
  .nav-tabs .nav-item a {
    text-align: center;
    border: none;
    color: #ac32e4;
    font-weight: 500;
    border-top: 5px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  a.nav-link.actives {
    color: #F66B5D !important;
    /* color: #fff;
    background-color: rgb(15, 201, 214);
    border-color: rgb(15, 201, 214); */
  }

  .tab-content {
    padding: 15px;
    background: #fff;
  }

  .nav-tabs1 .nav-item1 {
    /* display: inline-block; */
    width: 100%;
    background: #f5f5f5;
    flex: 1;
  }
  .nav-tabs1 .nav-item1 a {
    text-align: left;
    border: 1px;
    color: #ac32e4;
    font-weight: 500;
    border-top: 5px solid transparent;
    /* transition: all 0.3s ease-in-out; */
  }

/*--------------- Row styles ----------------*/
  .SubHeading{
    color: rgb(15, 201, 214);
  }
  .SubHeading-1{
    color: rgb(228, 6, 161);
  }
  .RowHeader{
    margin-bottom: 50px;
  }
  .RowHeader-1{
    margin-top: -20px;
  }
  .hover-up {
      top: 0;
      position: relative;
      transition: all 0.2s ease-in-out;
  }
  .hover-up:hover {
      box-shadow: 0 20px 40px rgba(61, 65, 84, 0.25);
      top: -2px;
  }
  .f-w-600 {
    font-weight: 600
  }
  .m-b-20 {
    margin-bottom: 20px
  }
  .m-t-40 {
    margin-top: 20px
  }
  .p-b-5 {
    padding-bottom: 5px !important
  }
  .b-b-default {
    border-bottom: 1px solid #e0e0e0
  }

/*------------- Profile Style --------------*/
  .padding {
      padding: 3rem !important
  }
  .user-card-full {
      overflow: hidden
  }
  .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      border: none;
      margin-bottom: 30px
  }
  .m-r-0 {
      margin-right: 0px
  }
  .m-l-0 {
      margin-left: 0px
  }
  .user-card-full .user-profile {
      border-radius: 5px 0 0 5px
  }
  .bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
      background: linear-gradient(to right, #ee5a6f, #f29263)
  }
  .user-profile {
      padding: 20px 0
  }
  .card-block {
      padding: 1.25rem
  }
  .m-b-25 {
      margin-bottom: 25px
  }
  .img-radius {
      border-radius: 5px
  }
  h6 {
      font-size: 14px
  }
  .card .card-block p {
      line-height: 25px
  }
  .card-block {
      padding: 1.25rem
  }
  .b-b-default {
      border-bottom: 1px solid #e0e0e0
  }
  .m-b-20 {
      margin-bottom: 20px
  }
  .p-b-5 {
      padding-bottom: 5px !important
  }
  .card .card-block p {
      line-height: 25px
  }
  .m-b-10 {
      margin-bottom: 10px
  }
  .text-muted {
      color: #919aa3 !important
  }
  .b-b-default {
      border-bottom: 1px solid #e0e0e0
  }
  .f-w-600 {
      font-weight: 600
  }
  .m-b-20 {
      margin-bottom: 20px
  }
  .m-t-40 {
      margin-top: 20px
  }
  .p-b-5 {
      padding-bottom: 5px !important
  }
  .m-b-10 {
      margin-bottom: 10px
  }
  .m-t-40 {
      margin-top: 20px
  }
  .user-card-full .social-link li {
      display: inline-block
  }
  .user-card-full .social-link li a {
      font-size: 20px;
      margin: 0 10px 0 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out
  }
  
/*------------- Profile Style --------------*/
  .Profile-container{
    margin: 50px;
    max-width: 100%;
  }
  .box-shadow {
    padding: 10px;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
  }

  .author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .author-card .author-card-cover::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
  }
  .author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
  }
  .author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
  }
  .author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
  }
  .author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
  }
  .author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
  }
  .author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
  }
  .author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
  }
  .author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
  }
  .author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
  }
  .author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }
  .btn-style-1.btn-white {
      background-color: #fff;
  }
  .list-group-item i {
      display: inline-block;
      margin-top: -1px;
      margin-right: 8px;
      font-size: 1.2em;
      vertical-align: middle;
  }
  .mr-1, .mx-1 {
      margin-right: .25rem !important;
  }
  .list-group-item.active:not(.disabled) {
      border-color: #e7e7e7;
      background: #fff;
      color: #ac32e4;
      cursor: default;
      pointer-events: none;
  }
  .list-group-flush:last-child .list-group-item:last-child {
      border-bottom: 0;
  }

  .list-group-flush .list-group-item {
      border-right: 0 !important;
      border-left: 0 !important;
  }

  .list-group-flush .list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
  }
  .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: rgb(15, 201, 214);
      border-color: rgb(15, 201, 214);
  }
  .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
  }
  a.list-group-item, .list-group-item-action {
      color: #404040;
      font-weight: 600;
  }
  .list-group-item {
      padding-top: 16px;
      padding-bottom: 16px;
      -webkit-transition: all .3s;
      transition: all .3s;
      border: 1px solid #e7e7e7 !important;
      border-radius: 0 !important;
      color: #404040;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .08em;
      text-transform: uppercase;
      text-decoration: none;
  }
  .list-group-item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.125);
  }

  /* ------------ Modal style ---------- */
  .top {
    background-color: #3F51B5;
    color: #fff;
    width: 120px;
    padding-left: 3px;
    font-weight: bold
  }
  .head {
    color: #3F51B5;
    font-weight: bold;
    margin-left: 4px;
    font-weight: bold
  }
  .icon1 {
    position: relative;
    top: 25px;
    left: 120px;
    font-size: 40px !important;
    color: #31cf60
  }
  .icon2 {
    font-size: 77px !important;
    color: #dee2e6
  }
  .icon2-green {
    font-size: 77px !important;
    color: #79ca93
  }
  .Boxcolor {
    border: 1px solid #df4775;
  }
  .Boxcolor-G {
    border: 1px solid #31cf60;
  }
  .inputButton {
    position: absolute;
    top: 80px;
    right: 30px;
    padding: 3px 10px;
    transition: all 0.3s ease-in-out;
  }
  .inputButton:hover {
    box-shadow: 0 20px 40px rgba(84, 79, 61, 0.25);
    top: 77px;
  }
  .inputButton-1 {
    position: absolute;
    top: 80px;
    right: 107px;
    padding: 3px 10px;
  }
  .inputButton-1:hover {
    box-shadow: 0 20px 40px rgba(84, 79, 61, 0.25);
    top: 77px;
  }
  .Button {
    position: absolute;
    top: 1px;
    right: 20px;
    padding: 3px 10px;
  }
  .SumPayment {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 3px 10px;
  }

